/* OVERLAY */
#overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.4);
  display:none;
  z-index:9;
}

/* SOL MENÜ */
#sideMenu{
  position:fixed;
  top:0;
  left:-100%;
  width:75%;
  height:100%;
  background:#fff;
  z-index:10;
  padding:30px;
  transition:.3s;
}

#sideMenu.open{
  left:0;
}